*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(~/images/DarkGreyBackground.jpg);
    background-size: cover;
    background-position: center center;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:initial;
    padding: 30px;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 622px;
    background: rgb(46, 45, 45);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 622px;
}
.container .card .imgBx{
    position: relative;
    width: 280px;
    height: 400px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.content{
    line-height: 23px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.who-we-are{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.who-we-are span{
    width: 60%;
    align-items: center;
    text-align: center;
    color: #fff;
}
span{
    color: #fff;
}
p{
    color: #fff;
}
h2{
    color: #fff;
}
h3{
    color: rgb(209, 204, 204);
}
.social-media a{
    color: #fff;
}