body {
    position: relative;
    background-image: url('../images/darkhh.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: red;
}

.anim-body{
    width: 100%;
    height: 100vh;
    position: relative;

}

.fog-anim{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: url('../images/832-8326155_fog.png') repeat-x;
    background-size: 200% inherit;
    background-position: 0 bottom;
    animation: fogAnim 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fogAnim{
    0%{ background-position: -200% bottom }
    100%{ background-position: 0% bottom }
}

header{
    padding-top: 0px;
}

.navbar {
    opacity: 50%;
    position: sticky;
}

.content {
    position: absolute;
    overflow: auto;
    max-height: 60%;
    top: 15%;
    bottom: auto;
    left: 10%;
    right: 10%;
    padding: 10px 10px;
    background-color: #343a40;
    opacity: 50%;
    z-index: 99;
    color: white;
    text-align: justify;
}
h1 {
    font-family: 'Creepster', cursive;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    color:red;
    font-weight:700;
}

.homeDescription{
   font-size: 1.5rem;
}

footer{
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: -1;
}

footer > p{
    color: red;
}

audio {
    height: 2rem;
    width: 15rem;
    opacity: 50%;
}

.table{
    color: white;
}

a{
    color: red;
    font-weight: bold;
    text-shadow: 2px 1px black;
}

    a:hover {
        color: #660708;
    }


/*Details Styling*/

.HHDetailsContainer {
    display: grid;
    grid-template-columns: 50% 50%;

}

.HHDetails{
    padding-left: 10px;
}


.review {
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 10px 10px;
}

.card{
    height: 20%;
    background-color: black;
    border-radius: 30px;
   
}

.HHLinks{
    margin-bottom: 20px;
    align-self: center;
}


/*Star Styling*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: darkred;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: darkred;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: darkred;
    }


#carouselExampleControls {
    border: 5px solid red;
    width: 100%;
    
    
}


.carousel-item {
    padding: 3% 15% 1% 25%;
    
    
}

footer div {
    font-size: 10px;
    color: gray;
    opacity: 50%;
}

footer a {
    font-size: 10px;
    color: gray;
}

footer a:hover {
    color:darkred;
}