@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @*_Layout = null;*@
}
@section Styles {
    @*@<link rel="stylesheet" href="~/css/aboutUs.css">*@
}
<div class="about-us">
    <div class="who-we-are">
        <h1>About Us</h1>
        <span>RunTime Terrors are a team of Junior Web Developers based in Cleveland, Ohio</span>
    </div>
</div>
<div class="about-us-container">
    <div class="about-us-card">
        <div class="imgBx">
            <img src="~/images/FemaleClown.jpg">
        </div>
        <div class="about-us-content">
            <h2>Dawna Natale</h2>
            <h3>Software Developer</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor volutpat
                est. Quisque eu ipsum porta, ultricies diam eu, consequat mi. Donec non fringilla
                nulla, eu lacinia purus.Nam turpis erat, semper sagittis velit ac, sagittis
                accumsan augue.
            </p>
            <div class="social-media">
                <a href="" target="_blank"> <i class="fa fa-github" style="font-size: 24px;"></i> </a>
                <a href="" target="_blank"> <i class="fab fa-linkedin" style="font-size: 24px;"></i> </a>
            </div>
        </div>
    </div>

    <div class="about-us-card">
        <div class="imgBx">
            <img src="~/images/JokerPicture.jpg">
        </div>
        <div class="about-us-content">
            <h2>Jaxxon Crowe</h2>
            <h3>Software Developer</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor volutpat
                est. Quisque eu ipsum porta, ultricies diam eu, consequat mi. Donec non fringilla
                nulla, eu lacinia purus.Nam turpis erat, semper sagittis velit ac, sagittis
                accumsan augue.
            </p>
            <div class="social-media">
                <a href="" target="_blank"> <i class="fa fa-github" style="font-size: 24px;"></i> </a>
                <a href="" target="_blank"> <i class="fab fa-linkedin" style="font-size: 24px;"></i> </a>
            </div>
        </div>
    </div>

    <div class="about-us-card">
        <div class="imgBx">
            <img src="~/images/chucky.jpg">
        </div>
        <div class="about-us-content">
            <h2>Naziyah Folmar</h2>
            <h3>Software Developer</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor volutpat
                est. Quisque eu ipsum porta, ultricies diam eu, consequat mi. Donec non fringilla
                nulla, eu lacinia purus.Nam turpis erat, semper sagittis velit ac, sagittis
                accumsan augue.
            </p>
            <div class="social-media">
                <a href="https://github.com/Yourconnect" target="_blank"> <i class="fa fa-github" style="font-size: 24px;"></i> </a>
                <a href="https://www.linkedin.com/in/naziyah-folmar/" target="_blank"> <i class="fab fa-linkedin" style="font-size: 24px;"></i> </a>
            </div>
        </div>
    </div>

    <div class="about-us-card">
        <div class="imgBx">
            <img src="~/images/LittleBoyInClownMakeup.jpg">
        </div>
        <div class="about-us-content">
            <h2>Eli Heeren</h2>
            <h3>Software Developer</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor volutpat
                est. Quisque eu ipsum porta, ultricies diam eu, consequat mi. Donec non fringilla
                nulla, eu lacinia purus.Nam turpis erat, semper sagittis velit ac, sagittis
                accumsan augue.
            </p>
            <div class="social-media">
                <a href="" target="_blank"> <i class="fa fa-github" style="font-size: 24px;"></i> </a>
                <a href="" target="_blank"> <i class="fab fa-linkedin" style="font-size: 24px;"></i> </a>
            </div>
        </div>
    </div>
</div>
