@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @*_Layout = null;*@
}
@section Styles {
    @*@<link rel="stylesheet" href="~/css/aboutUs.css">*@
}
<div class="about-us">
    <div class="who-we-are">
        <h1>About Us</h1>
        <span>RunTime Terrors are a team of Junior Web Developers based in Cleveland, Ohio</span>
    </div>
</div>
<div class="about-us-container">
    <div class="about-us-card">
        <div class="imgBx">
            <img src="~/images/FemaleClown.jpg">
        </div>
        <div class="about-us-content">
            <h2>Dawna Natale</h2>
            <h3>Software Developer</h3>
            <p>
                Hi, I'm Dawna!! I graduated in 2015 with a B.S. in Chemistry from Walsh University. 
                My love for tech started back in high school and, after a few career switches, lead me to becoming a Software Developer. 
                I love sports, shopping (cliché I know) and all things sp00ky/Halloween.
            </p>
            <div class="social-media">
                <a href="https://github.com/DawnaNatale
" target="_blank"> <i class="fa fa-github" style="font-size: 24px;"></i> </a>
                <a href="https://www.linkedin.com/in/dawnanatale/
" target="_blank"> <i class="fab fa-linkedin" style="font-size: 24px;"></i> </a>
            </div>
        </div>
    </div>

    <div class="about-us-card">
        <div class="imgBx">
            <img src="~/images/JokerPicture.jpg">
        </div>
        <div class="about-us-content">
            <h2>Jaxxon Crowe</h2>
            <h3>Software Developer</h3>
            <p>
                Professional software developer dedicated to producing applications that will benefit the average person. 
                Skill set includes coding, project management, application implementation and education. 
            </p>
            <div class="social-media">
                <a href="https://github.com/JaxxonCrowe/JaxxonCrowe.github.io
" target="_blank"> <i class="fa fa-github" style="font-size: 24px;"></i> </a>
                <a href="https://www.linkedin.com/in/jaxxon-crowe/
" target="_blank"> <i class="fab fa-linkedin" style="font-size: 24px;"></i> </a>
            </div>
        </div>
    </div>

    <div class="about-us-card">
        <div class="imgBx">
            <img src="~/images/chucky.jpg">
        </div>
        <div class="about-us-content">
            <h2>Naziyah Folmar</h2>
            <h3>Software Developer</h3>
            <p>
                Result driven, professional software developer. Dedicated to making effective, fun, and easy to use software.
                <div class="social-media">
                    <a href="https://github.com/Yourconnect" target="_blank"> <i class="fa fa-github" style="font-size: 24px;"></i> </a>
                    <a href="https://www.linkedin.com/in/naziyah-folmar/" target="_blank"> <i class="fab fa-linkedin" style="font-size: 24px;"></i> </a>
                </div>
            </p>
        </div>
    </div>
       <div class="about-us-card">
            <div class="imgBx">
                <img src="~/images/LittleBoyInClownMakeup.jpg">
            </div>
            <div class="about-us-content">
                <h2>Eli Heeren</h2>
                <h3>Software Developer</h3>
                <p>
                    Greetings, I am Eli. Coding is fun. : )

                </p>
                <div class="social-media">
                    <a href="https://github.com/DieEierVonSatan173
" target="_blank"> <i class="fa fa-github" style="font-size: 24px;"></i> </a>
                    <a href="https://www.linkedin.com/in/eli-heeren-295814223/
" target="_blank"> <i class="fab fa-linkedin" style="font-size: 24px;"></i> </a>
                </div>
            </div>
        </div>
</div>
